@media (max-width: 768px){
    .padding-y{
        padding-top: 20px;
        padding-bottom: 20px !important;
        padding-left: 200px !important;
    }
}

.icon-lg-custom{
    width:60px !important; 
    height:60px !important;
    line-height:60px !important;
    font-size:28px !important
}